<% layout("/layouts/boilerplate") %>

    <div class="row">  
        <div class="col-8 offset-2">
            <form method="POST" action="/listings/<%= listing._id %>?_method=PUT" enctype="multipart/form-data" >

                <h3 class="mt-4" >Edit your listing</h3>

                <div class="mb-3 mt-4">
                    <label for="title" class="form-label">Title</label> 
                    <input class="form-control" type="text"  value="<%=listing.title%>"  name="listing[title]">
                </div>
            
                <div class="mb-4">
                    <label for="description" class="form-label">Description</label> 
                    <textarea class="form-control" id="" cols="30" rows="4" name="listing[description]"> <%=listing.description%> </textarea>
                </div>
                
                <p class="p">Original listing image</p>
                <div class="card mb-3" style="width: 18rem;">
                    <img src="<%= listing.image.url %>" class="card-img-top" alt="...">
                </div>

            
                <div class="mb-4">
                    <label  for="image"  class="form-label" > Upload new image </label> 
                    <input class="form-control"  type="file" value="<%=listing.image%>" name="listing[image]" >
                </div>
            

                <div class="row mt-4">

                    <div class="mb-4  col-md-4">
                        <label for="price" class="form-label">Price</label> 
                        <input class="form-control"  type="number" value="<%=listing.price%>" name="listing[price]">
                    </div>
                
                    <div class="mb-4 col-md-8">
                        <label for="country" class="form-label">Country</label> 
                        <input class="form-control"  type="text"  value="<%=listing.country%>"  name="listing[country]">
                    </div>

                </div>

            
                <div class="mb-4">
                    <label for="location" class="form-label">Location</label>
                    <input class="form-control"  type="text"  value="<%=listing.location%>"  name="listing[location]" >
                </div>
            
            
                <button class="btn btn-dark mb-3 add-btn">
                    Edit
                </button>
            </form>    
        </div>            
    </div>  

